 .link {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top: 3rem;
     width: 34rem;
     background-color: #f6f6f6;
     box-shadow: 0 0 40px 5px rgb(0 0 0 / 50%)
 }

 #link {
     display: flex;
     flex-direction: column;
     align-items: start
 }
#all{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
 .name-username {
     display: flex
 }

 .name>label {
     display: block;
     margin: 14px 0 4px;
     color: #0d0c22
 }

 .email>label {
     display: block;
     margin: 14px 0 4px;
     color: #0d0c22
 }

 .password>label {
     display: block;
     margin: 14px 0 4px;
     color: #0d0c22
 }

 .conditions {
     display: flex;
     margin: 14px 0 4px;
     color: #0d0c22
 }

 .btn>a>button {
     border: 1px solid;
     background-color: #eb5757;
     color: white;
     cursor: pointer;
     padding: 9px 25px;
     width: 22rem;
     border-style: solid;
     border-width: 1px;
     border-color: #eb5757;
     border-radius: 5px;
     transition: border-color 300ms ease, background-color 300ms ease;
     font-size: 1.1rem;
     font-weight: 700;
     margin-bottom: 1rem
 }

 .btn>a>button:hover {
     border-color: #eb5757;
     background-color: #222;
     color: rgb(255, 255, 255)
 }

 .input>input {
     border-color: #e7e7e9;
     background-color: #fff;
     -webkit-box-shadow: none;
     box-shadow: none
 }

 .inputall {
     border: 1px solid;
     border-radius: 5px
 }

 #name-username {
     padding: 7px 15px 7px 6px;
     margin: 3px 1px
 }

 #name-username2 {
     padding: 7px 15px 7px 6px;
     margin: 3px 1px
 }

 .heading {
     display: flex;
     flex-direction: column
 }

 #email-password {
     padding: 7px 15px 7px 6px;
     margin: 3px 1px;
     width: 20.6rem
 }

 #email-password2 {
     padding: 7px 15px 7px 6px;
     margin: 3px 1px;
     width: 20.6rem
 }

 .cheakbox {
     margin: 0 0 58px 0
 }

 .heading>h2 {
     margin-bottom: 1rem
 }

 .forgot {
     display: flex;
     justify-content: space-between
 }

 .check {
     margin-bottom: .5rem
 }

 .isAccount {
     padding-top: 1rem;
     display: flex;
     justify-content: center;
     gap: .5rem;
     padding-bottom: 1rem
 }

 .isAccount>span>a {
     color: #eb5757
 }

 .conditions>label>a {
     color: #eb5757
 }

 .googleButton {
     border: 1px solid var(--gray-two);
     padding: .5rem 1rem;
     font-size: 1.1rem;
     font-weight: 700;
     border-radius: 4px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .75rem;
     cursor: pointer;
     width: 22rem
 }

 .footer {
     display: flex;
     color: white;
     background-color: #eb5757;
     justify-content: space-around;
     height: 12rem;
     margin-top: 5rem
 }

 .list-item {
     display: flex;
     color: white
 }

 .list>a:hover {
     color: #222
 }

 .thirddiv>.list {
     border-right: 1px solid black
 }

 .list>a {
     padding: 4px 8px
 }

 .footer-heading {
     display: flex;
     flex-direction: column;
     gap: 2rem
 }

 .footer-heading>img {
     height: 2rem;
     display: block;
     margin: 1rem 0 1.2rem 0
 }

 #contact {
     display: flex;
     flex-direction: column
 }

 #contact>p {
     display: flex;
     align-items: center;
     gap: 1rem;
     margin-block: .25rem
 }

 #contact>p>a>img {
     width: 1rem
 }

 #contact>p>a {
     display: flex;
     border-radius: 50%;
     background-color: #222;
     height: 2rem;
     align-items: center;
     justify-content: center;
     aspect-ratio: 1
 }

 .ltd>p {
     padding: 4px 8px
 }

 .images>img {
     height: 1.5rem;
     margin-inline: .5rem;
     cursor: pointer
 }

 .images {
     display: flex;
     justify-content: end
 }

 #about {
     display: flex;
     flex-direction: column;
     width: 18rem;
     gap: 1rem
 }

 #contact>h2 {
     color: rgb(255, 255, 255);
     display: block;
     margin: 1rem 0 1.2rem 0
 }

 .about>h2 {
     color: rgb(255, 255, 255);
     display: block;
     margin: 1rem 0 1.2rem 0
 }